<!DOCTYPE html>
<html lang="en">

<%- include("head") %>

<body>

    <%- include('navbar.ejs') %>

    <div class="container mb-5">

        <% messages.forEach(msg=> { %>

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    <%= msg.user %> :
                </h5>
                <p class="card-text">
                    <%= msg.text %>
                </p>
                <h6 class="card-subtitle mb-1 text-muted ">
                    Sent : <%= msg.added.toLocaleString() %>
                </h6>


            </div>
        </div>

        <% }) %>
    </div>
</body>

</html>